<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.3D" version="24.4.0" targetFramework="net472" />
  <package id="Aspose.BarCode" version="24.4.0" targetFramework="net472" />
  <package id="Aspose.CAD" version="24.4.0" targetFramework="net472" />
  <package id="Aspose.Cells" version="24.4.0" targetFramework="net472" />
  <package id="Aspose.Diagram" version="24.4.0" targetFramework="net472" />
  <package id="Aspose.Drawing.Common" version="24.4.0" targetFramework="net472" />
  <package id="Aspose.Email" version="24.4.0" targetFramework="net472" />
  <package id="Aspose.Finance" version="24.4.0" targetFramework="net472" />
  <package id="Aspose.Font" version="24.4.0" targetFramework="net472" />
  <package id="Aspose.GIS" version="24.4.1" targetFramework="net472" />
  <package id="Aspose.HTML" version="24.4.0" targetFramework="net472" />
  <package id="Aspose.Imaging" version="24.4.0" targetFramework="net472" />
  <package id="Aspose.Note" version="24.2.0" targetFramework="net472" />
  <package id="Aspose.OCR" version="24.4.1" targetFramework="net472" />
  <package id="Aspose.OMR" version="24.4" targetFramework="net472" />
  <package id="Aspose.Page" version="24.4.0" targetFramework="net472" />
  <package id="Aspose.PDF" version="24.4.0" targetFramework="net472" />
  <package id="Aspose.PSD" version="24.4.0" targetFramework="net472" />
  <package id="Aspose.PUB" version="24.3.0" targetFramework="net472" />
  <package id="Aspose.Slides.NET" version="24.4.0" targetFramework="net472" />
  <package id="Aspose.SVG" version="24.4.0" targetFramework="net472" />
  <package id="Aspose.Tasks" version="24.4.0" targetFramework="net472" />
  <package id="Aspose.TeX" version="24.3.0" targetFramework="net472" />
  <package id="Aspose.Total" version="24.4.0" targetFramework="net472" />
  <package id="Aspose.Words" version="24.4.0" targetFramework="net472" />
  <package id="Aspose.Zip" version="24.4.0" targetFramework="net472" />
  <package id="BouncyCastle" version="1.8.9" targetFramework="net472" />
  <package id="Conholdate.Total" version="24.4.0" targetFramework="net472" />
  <package id="GroupDocs.Total" version="24.4.0" targetFramework="net472" />
  <package id="Guna.UI2.WinForms" version="2.0.4.6" targetFramework="net472" />
  <package id="itext" version="8.0.4" targetFramework="net472" />
  <package id="itext.commons" version="8.0.4" targetFramework="net472" />
  <package id="itext7" version="8.0.4" targetFramework="net472" />
  <package id="iTextSharp" version="5.5.13.3" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="2.0.4" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyModel" version="2.0.4" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.ML.OnnxRuntime" version="1.16.0" targetFramework="net472" />
  <package id="Microsoft.ML.OnnxRuntime.Managed" version="1.16.0" targetFramework="net472" />
  <package id="Microsoft.Win32.Registry" version="4.7.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="PdfiumViewer" version="2.13.0.0" targetFramework="net472" />
  <package id="PDFsharp" version="6.1.0" targetFramework="net472" />
  <package id="Portable.BouncyCastle" version="1.8.6.7" targetFramework="net472" />
  <package id="QRCoder" version="1.5.1" targetFramework="net472" />
  <package id="Saladpuk.EMVCo" version="1.1.1" targetFramework="net472" />
  <package id="Saladpuk.EMVCo.Contracts" version="1.0.1" targetFramework="net472" />
  <package id="Saladpuk.PromptPay" version="3.0.1" targetFramework="net472" />
  <package id="Saladpuk.PromptPay.Contracts" version="3.0.1" targetFramework="net472" />
  <package id="SharpCompress" version="0.24.0" targetFramework="net472" />
  <package id="SkiaSharp" version="2.88.6" targetFramework="net472" />
  <package id="SkiaSharp.NativeAssets.macOS" version="2.88.6" targetFramework="net472" />
  <package id="SkiaSharp.NativeAssets.Win32" version="2.88.6" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.CodeDom" version="4.4.0" targetFramework="net472" />
  <package id="System.Collections" version="4.3.0" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="7.0.0" targetFramework="net472" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="7.0.0" targetFramework="net472" />
  <package id="System.Diagnostics.PerformanceCounter" version="4.5.0" targetFramework="net472" />
  <package id="System.Drawing.Common" version="6.0.0" targetFramework="net472" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net472" />
  <package id="System.Reflection.Emit.ILGeneration" version="4.7.0" targetFramework="net472" />
  <package id="System.Reflection.Metadata" version="7.0.0" targetFramework="net472" />
  <package id="System.Reflection.MetadataLoadContext" version="7.0.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.Handles" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Pkcs" version="8.0.0" targetFramework="net472" />
  <package id="System.Security.Permissions" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="8.0.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net472" />
  <package id="System.Text.Json" version="8.0.3" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>